<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
<div class="container" style="font-family: 'Satisfy', cursive;
">
<nav class="navbar navbar-default" style="background-color: #AED6F1">

      <div class="navbar-header">
        <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <b class="navbar-brand">A-BLOGG</b>
        </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                 <li><a href="/aboutme">AboutMe</a></li>
                  <li><a href="/end">End</a></li>
               </ul>
               <ul class="nav navbar-nav navbar right">
                   <li><a href="/register">Register</a></li>
                  </ul>
            </div>
         </div>
       </nav>
