{% extends 'bootstrap/base.html'%}
{% include 'navbar/navbar.html' %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
<body background="static/img/back.jpg">
<div class="container" style="font-family: 'Satisfy', cursive;;">
<div class="jumbotron text-center" style="background-color: #D7BDE2;">
  <h1>A-BLOGG</h1>
  <p>Trust me, heres stuff you want to read</p>
</div>
</div>
<div style="font-family: 'Patrick Hand', cursive;
">
<div class="container" style="background-color:#E5E8E8;">

  <h1>ME<h1>
  <p>Hey there!
     Im liz , i love colors,bright ones to be specific.
     I usually think of me as an introvert but to some extend im not.
     I LOVE CANDY!!!, lol too much info.</p>
</div>
</div>
</body>
<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><a href="/"><span aria-hidden="true">&larr;</span> Older</a></li>
    <li class="next"><a href="/end"><span aria-hidden="true">&rarr;</span>Next</a></li>
  </ul>
</nav>
{% endblock %}
