{% extends 'bootstrap/base.html'%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A-BLOGG</title>
  </head>
  <body >
    {% include 'navbar/navbar.html' %}
    {% include 'navbar/messages.html' %}
      {% block content %}{% endblock %}
  </body>
  <nav aria-label="...">
  <ul class="pager">
    <li class="previous"><a href="/"><span aria-hidden="true">&larr;</span> Older</a></li>
    <li class="next"><a href="/end">Newer <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
</html>
