{% extends 'bootstrap/base.html'%}
{% include 'navbar/navbar.html' %}

{% block content %}
<body background="static/img/back.jpg">
<div class="container">
<div class="jumbotron text-center" style="background-color: #D7BDE2;">
  <h1>A-BLOGG</h1>
  <p>Trust me, heres stuff you want to read</p>
</div>
</div>
<div class="container" style="background-color:#E5E8E8;">

  <h1>The End<h1>
  <p>Im sorry, this is the end of our journey.JUST KIDDING!!!! theres lots and lots of stuff coming.This is just the begining!</p>
  <p>More stories will be updated soon,if youd like to share, create an account and post your stuff! as easy as that!</p>
  <p> Dont forget to subscribe,and leave a comment!</p>
  
</div>
</body>
{% endblock %}
